<div class="card">
  <div class="card-body">
    <h2 class="card-title d-flex justify-content-between mb-4">
      <span><%= @project.name %></span>
      <div>
        <%= link_to 'Edit ', edit_project_path,class: 'btn btn-warning' %>
        <%= link_to 'Destroy', @project, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </h2>
    <h5 > Add task</h5>
    <hr>

    <%= render 'tasks/form' %>
  </div>
</div>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @project.user_id %>
</p>
<%
=begin%>
 
<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %> 
<%
=end%>


<hr>

<h1>Listing tasks</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
    <th>Project</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @project.tasks.each do |task| %>
  <% if task.persisted? %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.description %></td>
    <td><%= task.status %></td>
    <td><%= task.project %></td>
    <td><%= link_to 'Show', [task.project, task] %></td>
    <td><%= link_to 'Edit', edit_project_task_path(task.project, task) %></td>
    <td><%= link_to 'Destroy', [task.project, task], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end %>
  <% end %>
</table>

<br />
